<div class="main_header">
  <div class="left_header">
    <div class="group_name">
      <p>hogefuga</p>
    </div>
  </div>
  <div class="right_header">
    <div class="close_chat_btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="main_view">
  <div class="post">
    <div class="upper-post">
      <div class="name">
        <p>
          Takahiro
        </p>
      </div>
      <div class="time">
        <p>2020/09/09(wed) 00:00:00</p>
      </div>
    </div>
    <div class="lower-post">
      <div class="message">
        <p>Hello!</p>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="upper-post">
      <div class="name">
        <p>Masuo</p>
      </div>
      <div class="time">
        <p>2020/09/09(wed) 00:00:00</p>
      </div>
    </div>
    <div class="lower-post">
      <div class="message">
        <p>welcome!</p>
      </div>
    </div>
  </div>
</div>
<%= form_with model: [@room, @message], html: {class: "main_footer"}, local: true do |f| %>
  <div class="form">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit "送信", class: 'submit-btn' %>
<% end %>
